name: Mirror Release

permissions:
  contents: write

on:
  workflow_dispatch:

  schedule:
    - cron: "*/30 * * * *"


jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Fetch latest upstream release
        run: |
          API="https://api.github.com/repos/ThePedroo/ReLSPosed/releases/latest"

          curl -s $API > release.json

          RELEASE_NAME=$(jq -r '.assets[] | select(.name | contains("zygisk-release")) | .name' release.json)
          DEBUG_NAME=$(jq -r '.assets[] | select(.name | contains("zygisk-debug")) | .name' release.json)

          RELEASE_URL=$(jq -r '.assets[] | select(.name | contains("zygisk-release")) | .browser_download_url' release.json)
          DEBUG_URL=$(jq -r '.assets[] | select(.name | contains("zygisk-debug")) | .browser_download_url' release.json)

          echo "Downloading $RELEASE_NAME"
          curl -L "$RELEASE_URL" -o "$RELEASE_NAME"

          echo "Downloading $DEBUG_NAME"
          curl -L "$DEBUG_URL" -o "$DEBUG_NAME"

      - name: Upload to your GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Latest Build (mirror)
          files: "*.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
